<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comedor_UACM"
        tools:targetApi="31">
        <activity
            android:name=".EditarIngrediente"
            android:exported="false"/>
        <activity
            android:name=".Ver_Ingrediente"
            android:exported="false" />
        <activity
            android:name=".EditarHorario"
            android:exported="false" />
        <activity
            android:name=".VerHorario"
            android:exported="false" />
        <activity
            android:name=".EditarPlatillo"
            android:exported="false" />
        <activity
            android:name=".UPlatillo"
            android:exported="false" />
        <activity
            android:name=".Lista_Ingredientes"
            android:exported="false" />
        <activity
            android:name=".Lista_Horarios"
            android:exported="false" />
        <activity
            android:name=".Lista_platillo"
            android:exported="false" />
        <activity
            android:name=".Crud_ingrediente"
            android:exported="false" />
        <activity
            android:name=".Crud_horario"
            android:exported="false" />
        <activity
            android:name=".Crud_platillo"
            android:exported="false" />
        <activity
            android:name=".Crud_plantel"
            android:exported="false" />
        <activity
            android:name=".Gestion_programador"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".menu_gestion_encargado"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SeleccionaUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Usuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity2" />
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>